[Unit]
Description=Puma HTTP Server
After=network.target
[Service]
Type=simple
User=appuser
WorkingDirectory=/home/appuser/reddit
ExecStart=/bin/bash -lc '/home/appuser/.rvm/gems/ruby-2.4.1/bin/puma -C /home/appuser/.rvm/gems/ruby-2.4.1/gems/puma-3.10.0/lib/puma.rb'
Restart=always
[Install]
WantedBy=multi-user.target